@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sirivennela&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
html {
    scroll-behavior: smooth;

}
section {
    padding-top: 1rem;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
nav {
    position: fixed;
    left:0;
    width:100%;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(8, 25, 43);
     z-index:5;
}

nav .nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding:10px 20px;
    font-size: 20px;
}

nav .nav-menu .nav-item{
   display:flex;
   justify-content:space-between;
   align-items: center;
   gap:20px;
   color:silver;
}

nav .nav-menu .nav-display{
   display:flex;
   align-items: center;
   gap:2.8rem;
   color:silver;
}

nav .nav-menu .nav-item .nav-option{
    background-color:silver;;
    color:rgb(157, 99, 69);
    padding:10px;
    border-radius:8px;
}

nav .nav-menu .nav-item .nav-category:hover{
    background-color:rgb(144, 111, 199);
    color:rgb(157, 99, 69);
    padding:15px;
    border-radius:10px;
}

nav .nav-menu .nav-item .logo{
    color:silver;
    font-family: "Sirivennela";
    font-size:45px;
    font-weight:900;
}

nav .nav-menu .nav-item img{
   width:50px;
   aspect-ratio:1;
}

#menu-btn {
    display: none;
}

.nav-menu .search-form{
    position:absolute;
    top: 110%;
    right: -110%;
    width:300px;
    padding:10px;
    border-radius:10px;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-menu .search-form.active{
    right:2rem;
    transition:0.4s linear;
}
.nav-menu .search-box{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
}
.nav-menu .search-form input{
    border:none;
}

.nav-menu .login-form{
    position:absolute;
    top:110%;
    right:-110%;
    width:400px;
    padding:10px;
    border-radius:10px;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size:15px;
    font-weight:500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-menu .login-form.active{
    right:2rem;
    transition:0.4s linear;
}

.nav-menu .login-form .form{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.nav-menu .login-form .form .info{
    width:100%;
    padding:20px;
    margin:10px auto;
    border-radius:10px;
    background-color:silver;
    border: none;
}

.nav-menu .login-form .form a{
    color:rgb(193, 17, 161);
}

.nav-menu .login-form .form button{
    background-color:silver;
    color:black;
    padding:10px;
    border-radius:10px;
    border:none;
}
.song{
     background-color:rgb(10, 24, 61);
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items:start;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    padding:5rem 0;
    font-family: "Open Sans", sans-serif;
    user-select: none;
}
.songlist{
    flex: 1 1 400px;
    max-width:580px;
}
.songcontainer {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.songitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color:Silver;
    color:rgb(43, 43, 43);
    font-family: "Open Sans", sans-serif;
    font-size:15px;
    font-weight:500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:15px;
    border-radius: 10px; 
}

.songitem img {
    width:50px;
    aspect-ratio:1;
    border-radius: 50%;
}

.timestamp i {
    cursor: pointer;
}

.songbanner{
    display:flex;
    flex-direction: column;
    flex: 1 1 400px;
    max-width: 580px;
    gap:20px;
}
.songbanner .hook{
    font-family: "Sirivennela";
    font-size:6rem;
    font-weight:bolder;
    color:silver;
}
.songbanner .hook span{
    color:rgb(157, 99, 69);
} 
.songbanner .description{
    font-family: "Open Sans", sans-serif;
    color:silver;
    font-size:15px;
    font-weight:400;
    line-height:1.2;
}
.songbanner img{
    width:250px;
    height:150px;
}
.songbanner .buttons{
    display:flex;
    align-items: center;
    gap:20px;
    font-family: "Open Sans", sans-serif;
}
.songbanner .buttons :is(.btn1,.btn2){
    background-color:rgb(157, 99, 69);
    padding:15px;
    border-radius:15px;
}
.songbanner .buttons .btn1:hover,
.songbanner .buttons .btn2{
     background-color:gray;
     color: black;
}
.songbanner .buttons .btn2:hover{
     color:silver;
     background-color:rgb(157, 99, 69);
     transition: 0.3s ease-in;
}

 .bottom{
    background-color:rgb(10, 24, 61);
 }
 .bottomPlayer{
    display:none;
    padding:20px 100px;
    background-color:rgb(8, 25, 43);
    font-family: "Open Sans", sans-serif;
    font-size:20px;
    font-weight:500;
    color:silver;
    border-radius:1rem;
 }
 .bottomPlayer img {
    width: 40px;
    opacity: 0;
    transition: opacity 1s ease-in;
}
@media (max-width:1290px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width:1000px) {
        .main-content{
        flex-direction:column-reverse;
        margin-top:40px;
        gap: 2rem;
        align-items: center;
     }
      .songlist {
        width: 90%;
        max-width: none;
    }

    .songitem {
        width: 100%;
    }
     .songbanner .hook{
        font-size:60px;
     }
     .songbanner .description{
        font-size:15px;
     }
}
 @media screen and (max-width:800px){
    .section {
        padding: 2rem 0;
    }

    #menu-btn {
        display:block;
    }

    .nav-menu .nav-display{
        position:absolute;
        top:100%;
        right:0;
        left:0;
        width:120px;
        padding:30px;
        margin:40px;
        display:flex;
        flex-direction: column;
        background-color:silver;
        border-radius:8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        clip-path: circle(0% at 0% 0%);
        transition: 0.4s linear;
    }
    .nav-display.active{
          clip-path: circle(144% at 0% 0%);
     }
     .nav-category{
        display: block;
        padding: 15px;
         color:rgb(193, 17, 161);
        font-size:20px;
        font-weight: 700;
    }
     .nav-menu .search-form{
        margin:40px;
        font-size:25px;
     }
     .nav-menu .login-form{
        margin:40px;
     }
     .nav-menu .login-form input,button{
        font-size:20px;
     }

     .songbanner img{
        width:150px;
        aspect-ratio:1;
     }
    
 }
